# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
*.local
lib/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Functions (backend)
functions/lib/
functions/node_modules/

# Testing
coverage/

# PWA
dev-dist/

# Misc
*.tsbuildinfo
